*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 17, 17);
}

.song{
    width: 50%;
    margin: 10rem auto;
    text-align: center;
}

h1{
    color: white;
    font-size: 5em;
    margin-bottom: 1rem;
}