*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 17, 17);
}

.disc-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disc-container img{
    width: 400px;
    height: 400px;
}

.sub-container{
    position: relative;
}

.mask{
    mask-image: url(disc-mask.svg);
    mask-repeat: no-repeat;
}

.disc-inner{
    opacity: 100%;
    position: absolute;
    z-index: 1;
    left: 146px;
    top: -2px;
}

svg{
    max-width: 108px;
}

